* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &::before,
  &::after {
    box-sizing: border-box;
  }
  &:focus {
    outline: none;
  }
}

ul,
ol {
  list-style: none;
}
button,
input {
  font: inherit;
}
